 input[type=text]{
    width: 75%!important;
}
 textarea{
     width: 75%!important;
 }
 .form-control.smallText{
    width: 200px!important;
}
 .form-control .custom_btn input[type=button]{

 }
 /*//custom combo box*/
 .custom-combobox {
     position: relative;
     display: inline-block;

 }
 .custom-combobox-toggle {
     position: absolute;
     top: 0;
     bottom: 0;
     margin-left: -1px;
     padding: 0;
 }
 .custom-combobox-input {
     margin: 0;
     padding: 5px 10px;
     background-color: #FFFFFF!important;
     width: 402px;
     height: 40px;
 }
 .well{
     background-color: #d6d6d6!important;
 }
 .snow {
     -moz-user-select: none;
     background-image: url("http://i62.tinypic.com/15xvbd5.png"), linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
     background-position: 97% center;
     background-repeat: no-repeat;
     border: 1px solid #aaa;
     border-radius: 2px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     color: #555;
     font-size: inherit;
     margin: 2px;
     overflow: hidden;
     padding: 5px 10px;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 300px;
 }
 div.img {
     margin: 5px;
     border: 1px solid #ccc;
     float: left;
     width: 180px;
 }

 div.img:hover {
     border: 1px solid #777;
 }

 div.img img {
     width: 100%;
     height: 105px;
     position: relative;
 }

 div.desc {
     padding: 10px;
     text-align: center;
     background-color: #00B1B3;
     color: #ffffff;
 }


 .count {
     font-size: 43px;
     position: absolute;
     right: 155px;
     top: 41px;
     color: #ffffff;
 }
 .total_number {
     background-color: #fa7753;
     border: medium none;
     border-radius: 100px;
     color: #ffffff;
     font-size: 26px;
     padding: 5px;
     position: absolute;
     right: 97px;
     top: 39px;
     width: 18%;

 }
 /*modal design here*/
 .modal-dialog {
     width:1285px;
 }
 .modal-dialog table tr th,td{
     font-size: 12px;
 }

 .modal-dialog table tr td a{
     font-size: 12px!important;
 }
 .modal-header {
     background-color: #337AB7;
     color: #ffffff;
 }
 .close{
     color: #CA1E1E!important;
     font-size: 30px!important;
 }
