
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
b, strong {
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
.home-page .news h2.title {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "open sans",arial,sans-serif;
    font-weight: 300;
}
p{
    font-size: 14px;
}

i{
    color:#1b98e0!important;
    font-weight: 400!important;
    font-size:20px!important;
}
a{
    color: #fff!important;
}

.custome-active{
    background-color: #4CD8B0!important;
}
/*********** color code here  ************************/
.custom_color{
/*    color: #1b98e0!important;*/
    color: #1b98e0!important;
    text-decoration: none!important;
}
/*********************************************/



/*********header code code here  ************************/
.contact{
     font-family: "open sans",arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.email{
    margin-bottom: 0;
    
}
/********************************************/

/************************* navbar codes here ***************/
.navbar-default{
    background-color: #1b98e0!important;
       
}

/************************* navbar codes ends here ***************/


/************************* ABOUT SECTION ***************/
.miniText{
    margin: 0 auto;
    padding: 40px 0;
    width: 90%;

}
.miniText p{
    font-size: 10px;
   }
.miniText p{
    font-size: 18px!important;
    font-family: 'Raleway', sans-serif;
}
.poster{
    margin-top: 40px;
    color: #6d6e71;
}
.poster hr{
    font-family: 'Roboto', sans-serif!important;
}
.custom_hr{
    margin: -8px auto;
    width:41%;
    text-align: center;
    border: solid 1px #1b98e0!important;
}
.other{
     width: 100%;
   
}
.other li{
   
    list-style:none;
    border: solid 1px #eee;
    padding: 10px;
     background-color: #ccc;
   
}
/************************* ABOUT SECTION ENDS HERE  ***************/
/************************* mission SECTION start HERE  ***************/
#mission{
    /*background: url('../img/background/principal.png');*/
    /*background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url('../img/background/principal.png');*/
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), url('../img/background/about.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}
#mission h2{
    color: #fff;
}
#mission p{
    color: #fff;
}
/************************* PRINCIPLE SPEECH SECTION  HERE  ***************/
#principal-speech{
    /*background: url('../img/background/principal.png');*/
    /*background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url('../img/background/principal.png');*/
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), url('../img/background/back.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}


.principal_img{
    /*padding: 50px;*/
    padding-top: 112px;
    padding-left: 50px;
}

.principal_speech{
    /*padding: 40px;*/
    padding-top: 50px;
    padding-left: 50px;
}
.principal_speech p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500!important;
    font-size: 16px;
}
.principal_hr{
    width:41%;
    text-align: left!important;
    border: solid 1px #1b98e0!important;
    margin: -8px auto;
}
/************************* PRINCIPLE SPEECH SECTION ENDS HERE  ***************/
/************************* NOTICEBORAD SECTION ENDS HERE  ***************/

#noticeboard h4{
    font-family: 'Raleway', sans-serif;
}
#noticeboard hr{
    border-color:#1b98e0!important;
}
/************************* NOTICEBOARD SECTION ENDS HERE  ***************/

#courses{

    /*background-color:#F7F7F7;*/
    background-color:#e8f2fb;
    padding: 40px!important;
}
.box{
    padding: 10px;
    width: 90%;
    background-color:#1b98e0!important;
}
.box img{
    padding: 70px;
    color: #6d6e71!important;
}

footer {
    background-color: #111;
    color: #f5f5f5;
    padding: 20px;
}
footer  a{

    color: #fff;

}

footer span{
   color:#1b98e0!important ;
}

.container-marquee{
    position: relative;
    width:100%; /*marquee width */
    height:23px; /*marquee height */
    overflow: hidden;
    padding: 2px;
    padding-left: 4px;
}

#facility h4{
    font-size: 14px;
}
#facility img{
    width:30%;
}
